body {
	padding-top: 80px;
}

/*section2a starts*/
#section2a, #section2b {
	color: #333; 																																		
  	background-color: white;
	font-size: 18px;
}
.w300 {
    width: 300px;
    cursor: pointer;
}
#sectionText, #sectionText1 {
	color: #333; 
	box-shadow: inset 0 0 1px transparent, 0 0 25px #000;
	padding: 12px 0 5px 14px;
	background-color: #E81313;
	border-radius: 7px;
	color: #fff;
}
#sectionText a, #sectionText1 a {
	color: #fff;
	text-decoration: none;
}
textarea {
    resize: none;
}
.aquestion,.bquestion {
    display: none;
}
.aquestion:last-child .form-control,.bquestion:last-child .form-control {
	width: 50%;
}
/*arrowimage*/
#next_a,#next_b {
	width:50px;
	cursor: pointer;
}
#previous_a,#previous_b {
	width:	100px;
	cursor: pointer;
}
.down-arrow .col-md-offset-8 {
	margin-left: 69%;
}
.specialism_label input[type=checkbox] {
	margin: 4px 4px 7px 10px;
	
}
.specialism_label1 input[type=checkbox] {
	margin: 4px 4px 7px 10px;
}
.specialism_label1 .dropdown-menu {
	width: 100%;
}
.pin .form-control {
	width: 50%;
}
.select {
	margin-top: -330px;
	margin-left: 580px;
	font-size: 20px;
	color: #cccc00;
}
.scrollable-menu {
	max-height: 200px;
	overflow-x:hidden;
	width: 100%;
}
.form-control:focus {
	border-color: #FF0000;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.065), 0 0 8px rgba(255, 0, 0, 0.6);
}
.form-control {
	font-size: 18px;
	width: 60%;
}
#startagaina, #startagainb, #cancela, #cancelb, #submitbuttona, #submitbuttonb  {
	background-color: #ffffff;
	color: #000000;
	font-size: 16px;
	border: 1px solid #E81313;
	cursor: pointer;
}
#submitbuttona, #submitbuttonb {
	color: #E81313;
}
#startagaina:focus , #startagainb:focus , #cancela:focus , #cancelb:focus , #submitbuttona:focus , #submitbuttonb:focus {
	outline:none
}
.red-button {
	background-color: #E81313;
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: #fff;
	font-family: 'Fira Sans', sans-serif;
	font-size: 0.85em;
	padding: 0.55em 0.9em;
	transition: all 400ms ease 0s;
	width: auto;
	cursor: pointer;
	border-radius: 4px;
}
.btn-file {
	overflow: hidden;
	position: relative;
	vertical-align: middle;
}
.fileupload-exists .fileupload-new, .fileupload-new .fileupload-exists {
	display: none;
}
.btn-file>input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	transform: translate(0px);
	font-size: 23px;
	direction: ltr;
	cursor: pointer;
}
.fileupload a {
	float: none;
}
#ddown {
	padding:10px 126px;;
}
.modal-dialog {
    overflow-y: initial
}
.modal-body {
    overflow-y: auto;
    color:black;
}
#pq {
	font-size: 20px;
}
.clickuk p a {
	color: black;
}
#questionblock,#questionblock1,#questionblock2 {
	height: 330px;
}
#ID {
	color:#65737e;
}
/*section2a ends*/
/*navbar css start*/
.sections {
	color: #333; 
	padding-top: 90px;
	padding-bottom: 90px;
	border-bottom: solid #ff0000;
}
.navbar-brand img {
	vertical-align: middle;
	height: 70px;
	width: 70px;
	margin-top: -12px;
}
.navbar {
	background-color: #E81313;
	box-shadow: 0px 6px 15px #888888;
}
.navbar-brand h1 {
	margin-left: 70px;
	margin-top: -75px;
	color: white;
}
.navbar-brand h5 {
	margin-left: 73px;
	color: white;
}
.navbar-nav>li>a {
	color: #fff;
	font-size: 16px;
	padding: 35px 20px 23px 20px;
}
.navbar-nav li a:hover, .navbar-nav .active, .navbar-nav li a:focus {
	color: #fff;
	background-color: #CB0303;
}
/*navbar-end*/
/*Footer --start*/
footer p:first-child{
	border-top: 1px solid #fff;
}
footer {
	padding: 1px 10px;
}
/*Footer ----end*/

/*section3 start*/
#section3 {
  	color: #333; 
  	background-color:#ffffff;
}
.table-bordered,
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>thead>tr>td, 
.table-bordered>thead>tr>th {
	border: 1px solid #000;
}
th {
    color: red;
}
/*section3 end*/
/*section4----start*/
.base-padding {
	padding-bottom: 20px;
}
.base-padding a {
	text-decoration: underline;
}
/*section4----end*/
/*section5----start*/
.section5,footer{
	color: #fff;
	background-color: #333333;
}
/*section5----end*/
/*section1-homesection---start*/
.section1 {
  	background-color: #ffffff;
 }
.home-section .arrow-image img {
	width: 55px;
	height: 18px;
	margin-left: -15px;
}
.home-section .base-padding {
	padding-bottom: 30px;
}
.badge {
	background-color: #E81313;
}
#badge4 {
	margin-top: 8px;
}
.img-circle {
	width: 200px;
	box-shadow: inset 0 0 1px transparent, 0 0 25px #000;
}
.home-section h4 {
	margin-top: 25px;
}
/*section1-homesection---end*/
/*payment-modal start*/
.payment-modal .form-control {
	width: 60%;
}
.payment-modal .list {
	padding: 8px;
	border-radius: 4px;
	width:94px;
	background-color:#ffffff;
    color:#000000;
}
.modal-body .form-control {
	font-size: 14px;
}
.checkbox {
	margin-left: 35px;;
}
.nexta,.nextb,.previousa,.previousb {
	margin-top: 30px
	cursor: pointer;
}
div.nexta:hover, div.nextb:hover {
	-moz-box-shadow: 3px 3px 4px #000; 
	-webkit-box-shadow: 3px 3px 4px #000; 
	box-shadow: 3px 3px 4px #000; 
}
div.previousa:hover, div.previousb:hover {
	-moz-box-shadow: 3px 3px 4px #000; 
	-webkit-box-shadow: 3px 3px 4px #000; 
	box-shadow: 3px 3px 4px #000; 
}
.startagaina:hover {
	background: darken($red, 1.5%);
	border: 1px solid rgba(#000, .05);
	/*box-shadow: 1px 1px 2px rgba(#fff, .2);*/
	color: lighten($red, 18%); 
	text-decoration: none;
	text-shadow: -1px -1px 0 darken($red, 9.5%);
	transition: all 250ms linear;
	-moz-box-shadow: 3px 3px 4px #000; 
	-webkit-box-shadow: 3px 3px 4px #000; 
	box-shadow: 3px 3px 4px #000; 
}
.startagain {
	margin-top: 30px;
	/*padding: 10px 10px 10px 10px;*/
	text-align: center;
}
.startagain:hover {
	-moz-box-shadow: 3px 3px 4px #000; 
	-webkit-box-shadow: 3px 3px 4px #000; 
	box-shadow: 3px 3px 4px #000; 
}
#cancela, #cancelb, #add-talent-project, #add-industry-sector {
	margin-top: 30px;
	text-align: center;
	border: 1px solid #E81313;
	cursor: pointer;
}
#cancela:hover, #cancelb:hover {
	-moz-box-shadow: 3px 3px 4px #000; 
	-webkit-box-shadow: 3px 3px 4px #000; 
	box-shadow: 3px 3px 4px #000; 
}
#add-talent-project:hover, #add-industry-sector:hover {
	background: darken($red, 1.5%);
	border: 1px solid rgba(#000, .05);
	/*box-shadow: 1px 1px 2px rgba(#fff, .2);*/
	color: lighten($red, 18%); 
	text-decoration: none;
	text-shadow: -1px -1px 0 darken($red, 9.5%);
	transition: all 250ms linear;
	-moz-box-shadow: 3px 3px 4px #000; 
	-webkit-box-shadow: 3px 3px 4px #000; 
	box-shadow: 3px 3px 4px #000; 
}
h4,h1,h2,h6  {
	color: #333; 
}
.col-md-3 p {
	font-size: 24px;
}
.block_a_error {
	color: #E81313;
}
.payment-modal .list {
	padding: 0px;
}

#domonth {
	position: relative;
    z-index: 5000;
}
.ms-choice span {
	color: #a9a9a9;
	padding-left: 14px
}
.astrix {
	color: #E81313;
}
.parsley-required, .parsley-pattern, .parsley-length, .parsley-type, .parsley-range, .parsley-maxlength {
	color: #E81313;
	list-style-type:none;
}
.padding_btm_50px {
	padding-bottom: 80px;
}
.close {
	display: none;
}
.mlefts {
	margin-left: -80px;
}
.demarca {
	border-bottom: solid #ff0000;
}
.sections_first {
	color: #333; 
	padding-top: 70px;
	padding-bottom: 90px;
	border-bottom: solid #ff0000;
}