<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}MyQuoteFactory | {% endblock title %}</title>
	<!-- CSS files -->
	<link rel="icon" href="/static/img/MyQF_red.png" type="image/gif" sizes="16x16">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/custom.css">
	{% block extra-css %} {% endblock extra-css %}
	<!-- JS files -->
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>
<body>
<div clss="loading_icon">
	<nav class="navbar navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="/static/img/MyQF.png">
					<p>
						<h1>MyQuoteFactory</h1>
					    <h5>Procurement for Business</h5>
					</p>
				</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav pull-right">
					<li class="active" default><a href="#section1">Home</a></li>
					<li><a href="#section5">About us</a></li>
					<li><a href="#section3">Pricing</a></li>
					<li><a href="#section5">Contact us</a></li>
					<li><a href="#myModal1" data-toggle="modal">Pay Now</a></li>
					<li><a href="#section4">FAQ</a></li>
				</ul>
			</div>
		</div>
	</nav>
{% block main-content %}
{% endblock main-content %}
<footer class="text-center">
	<p></p>
	<p>© COPYRIGHT 2016 by VisionNuovo Ltd. ALL RIGHTS RESERVED</p>
</footer>

{% block extra-js %} {% endblock extra-js %}

<script type="text/javascript" src="/static/js/custom.js"></script>
</div>
</body>
</html>
