{% extends "base.html" %}

{% block title %}MyQF{% endblock title %}
{% block extra-css %} 
<link rel="stylesheet" type="text/css" class="h1n1" href="/static/css/multiple-select.css">
{% endblock extra-css %}
{% block main-content %}
<div class="section1 sections_first" id="section1">
	<div class="container-fluid">
		<div class="home-section">
			<div class="row demarca">
				<div class="col-md-2 col-xs-4">
            		<h3>How it works?</h3>
        		</div>
	        	<div class="col-md-10 col-xs-8">
					<div class="col-md-3 col-xs-12">
						<h3>Tell us what you Want?
            			<div class="arrow-image">
            				<ul class="list-inline list-unstyled col-md-offset-4 col-xs-offset-1">
            					<li>
	                        		<div class="badge">1</div>
            					</li>
            					<li class="col-md-offset-5 col-xs-offset-5">
       								<img src="/static/img/Arrows.svg">
            					</li>
            				</ul>
        				</div>
					</div>
					<div class="col-md-3">
					  	<h3>Tell us your Expectations</h3>
            			<div class="arrow-image">
            				<ul class="list-inline list-unstyled col-md-offset-4 col-xs-offset-1">
            					<li>
		                        	<div class="badge">2</div>
            					</li>
            					<li class="col-md-offset-5 col-xs-offset-5">
            						<img src="/static/img/Arrows.svg">
            					</li>
            				</ul>
            			</div>
					</div>
					<div class="col-md-3">
					  	<h3>We do all the Hard Work</h3>
            			<div class="arrow-image">
            				<ul class="list-inline list-unstyled col-md-offset-4 col-xs-offset-1">
            					<li>
		                        	<div class="badge">3</div>
            					</li>
            					<li class="col-md-offset-5 col-xs-offset-5">
            						<img src="/static/img/Arrows.svg">
            					</li>
            				</ul>
            			</div>
					</div>
					<div class="col-md-3">
					  	<h3>Get globally sourced Quotes / Offers</h3>
            			<div class="arrow-image">
	            			<ul class="list-inline list-unstyled col-md-offset-3 col-xs-offset-1">
		       					<li>
		                        	<div class="badge" id="badge4">4</div>
		       					</li>
		       				</ul>
		       			</div>
					</div>
	        	</div>
			</div>
        	<div class="row">
			    <div class="col-md-4">
	              	<h3 class="base-padding">Tell us what you Want?</h3>
			    </div>
			</div>
			<div class="row">
				<div class="large-circle-row">
					<div class="col-md-4">
						<center>
							<a href="#section2a"><img src="/static/img/1.png" id="talent" class="img-circle img-responsive"></a>
							<h4>Talent or Project Support</h4>
						</center>
					</div>
					<div class="col-md-4">
						<center>
							<a href="#section2b"><img src="/static/img/2.png" id="spare" class="img-circle img-responsive"></a>
							<h4>Equipment Components and Spares</h4>
						</center>
					</div>
					<div class="col-md-4">
						<center>
							<a href="#section2b"><img src="/static/img/3.png" id="consume" class="img-circle img-responsive"></a>
							<h4>Consumables and Raw Material</h4>
						</center>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="sections" id="section2a" hidden >
	<div class="container-fluid">
		<div class="row">
			<span class="block_a_error col-md-offset-1"></span>
	     	<div class="col-md-3">
	    		<p>Please share some information regarding your requirement</p>
	    	</div>
	      	<div id="sectionText" class="col-md-offset-1 col-md-2 col-sm-4  col-xs-offset-1 col-xs-10">
	        	<ol>
					<li><a>Terms</a></li>
					<li><a>Specialism</a></li>
					<li><a>Education</a></li>
					<li><a>Level of Expertise</a></li>
					<li><a>Location</a></li>
					<li><a>Working Pattern</a></li>
					<li><a>By When</a></li>
					<li><a>Expectation</a></li>
					<li><a>Contact Details</a></li>
					<li><a>Anything we have missed</a></li>
	        	</ol>   
	      	</div>
	      	<div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-6 col-xs-offset-2 col-xs-10">
		    	<form name="talent-project-form" method='POST' id='talent-project-form' action="{% url 'talent-project-add' %}" enctype="multipart/form-data">
		      		{% csrf_token %}
		      		<div id="questionblock">
	        			<div class="aquestion 1st">
		      				<div class="form-section " >
				                <p><b>1.a Term  </b><b class='astrix'>*</b></p>
			            		<ul class="list-unstyled">
			            			<div class="radio">
						                <li>
						                	<label>
						                		<input type="radio" name="term" value="Temperory" data-parsley-multiple="term" data-parsley-errors-container="#termError">Temperory
						                	</label>
						            	</li>
						                <li>
						                	<label>
						                		<input type="radio" name="term" value="Permanent" data-parsley-multiple="term" required="" data-parsley-errors-container="#termError">Permanent
						                	</label >
						            	</li>
						            	<span id="termError"></span>
			            			</div>
					            </ul>
				                <p><b>1.b Contract </b><b class='astrix'>*</b></p>
				                <ul class="list-unstyled">
				                	<div class="radio">
						                <li>
						                	<label>
						                		<input type="radio" name="contract" value="0-3 Months" data-parsley-multiple="contract" data-parsley-errors-container="#contractError">0-3 Months
						                	</label>
						                </li>
						                <li>
						                	<label>
						                		<input type="radio" name="contract" value="0-6 Months" data-parsley-multiple="contract" data-parsley-errors-container="#contractError">0-6 Months
						                	</label>
						            	</li>
						                <li>
						                	<label>
						                		<input type="radio" name="contract" value="6 or more months" data-parsley-multiple="contract" data-parsley-errors-container="#contractError" required="">6 or more months
						                	</label>
						            	</li>
						            	<span id="contractError"></span>
				                	</div>
				             	</ul>
			        		</div>
		      			</div>
	            		<div class="aquestion 2nd">
		      				<div class="form-section">
			                	<p><b>2. Specialism </b><b class='astrix'>*</b></p>
			                	<div class="btn-group specialism_label">
			                  		<select class="w300" name="specialism" multiple="multiple" required="">
			                 			{% for i in specialism %}
				                  			<option value="{{i.id}}"><p>{{i.name}}</p></option>
				                  		{% endfor %}
									</select>
			                	</div>
			           		</div>
		      			</div>
		            	<div class="aquestion 3rd">
		      				<div class="form-section">
				                <p><b>3. Education </b></p>
			        			<ul class="list-unstyled">
			        				<div class="radio">
						             	<li>
						             		<label>
						        				<input type="radio" name="education" value="Level 1-2">Level 1-2
						             		</label>
						    			</li>
						    			<li>    
						    				<label>
						            			<input type="radio" name="education" value="Level 3-4">Level 3-4                    	
						    				</label>                    	
						    			</li>
						            	<li>
						            		<label>
						               	 		<input type="radio" name="education" value="Level 5">Level 5
						            		</label>
						            	</li>
						            	<li>
						            		<label>
						            		<input type="radio" name="education" value="Level 6">Level 6
						            		</label>
						            		
						            	</li>
						            	<li>
						            		<label>
							            		<input type="radio" name="education" value="Level 7">Level 7
						            		</label>
						            	</li>
						            	<li>
						            		<label>
							            		<input type="radio" name="education" value="Level 8">Level 8
						            		</label>
						            	</li>
			        				</div>
			            		</ul>
				        		<div class="clickuk"> 
				                	<p><a href="https://www.gov.uk/what-different-qualification-levels-mean/compare-different-qualification-levels" target="_blank" >Click here for more info..</a></p>
				        		</div>
			        		</div>
		      			</div>
		            	<div class="aquestion 4th"> 
		      				<div class="form-section">
								<p><b>4. Level of Expertise</b></p>
								<ul class="list-unstyled">
									<div class="radio">
										<li>
											<label>
												<input type="radio" name="level_of_expertise" value="0-2 years">0-2 years relevant experience
											</label>
										</li>
										<li>
											<label>
												<input type="radio" name="level_of_expertise" value="0-3 years">2-5 years relevant experience
											</label>
										</li>
										<li>
											<label>
												<input type="radio" name="level_of_expertise" value="5-10 years">5-10 years relevant experience
											</label>
										</li>
										<li>
											<label>
												<input type="radio" name="level_of_expertise" value="More than 10 years">More than 10 years relevant experience	
											</label>
										</li>
									</div>
								</ul>
			           		</div>
		      			</div>
		            	<div class="aquestion 5th pin">
		      				<div class="form-section">
								<label for="pin">5. Enter Post Code </label><b class='astrix'> *</b>
								<input type="text" class="form-control" name="location" placeholder="Pin Code" minlength='5' maxlength="8" required="">    
			            	</div>
		      			</div>
		            	<div class="aquestion 6th">
		      				<div class="form-section">
								<p><b>6. Working Pattern</b></p>
								<ul class="list-unstyled">
									<div class="radio">
										<li>
											<label>
												<input type="radio" name="working_pattern" value="Home Based"> Home Based
											</label>
										</li>
										<li>
											<label>
												<input type="radio" name="working_pattern" value="Full Time"> Full Time
											</label>
										</li>
										<li>
											<label>
												<input type="radio" name="working_pattern" value="Part Time"> Part Time
											</label>
										</li>
										<li>
											<label>
												<input type="radio" name="working_pattern" value="Out of Hours">Out of Hours
											</label>
										</li>                  
										<li>
											<label>
												<input type="radio" name="working_pattern" value="Shift Work"> Shift Work
											</label>
										</li>
									</div>
								</ul>
			            	</div>
		      			</div>
		            	<div class="aquestion 7th">
		      				<div class="form-section">
								<p><b>7. By When??  </b><b class='astrix'>*</b></p>
								<ul class="list-unstyled">
									<div class="radio">
										<li>
											<label>
												<input type="radio" name="by_when" value="Immediately" data-parsley-multiple="by_when" data-parsley-errors-container="#by_whenError">Immediately                 
											</label>
										</li>
										<li>
											<label>
												<input type="radio" name="by_when" value="Within 1 month" data-parsley-multiple="by_when" data-parsley-errors-container="#by_whenError"> Within 1 month
											</label>
											
										</li>
										<li>
											<label>
												<input type="radio" name="by_when" value="Within 3 months" required="" data-parsley-multiple="by_when" data-parsley-errors-container="#by_whenError"> Within 3 months
											</label>
										</li>   
										<span id="by_whenError"></span>            
									</div>
								</ul>
			            	</div>
		      			</div>
		            	<div class="aquestion 8th">
		      				<div class="form-section">
			                  	<p><b>8. Any Expectations??</b></p>
			                  	<textarea class="form-control" rows="3" name="expectation" placeholder="Enter Text Here.." data-parsley-maxlength="250"></textarea>
			            	</div>
		      			</div>
		            	<div class="aquestion 9th col-lg-12">
		      				<div class="form-section">
		      					<p><b>9. Details  </b><b class='astrix'>*</b></p>
			                  	<div class="form-group ">
				        			<div class="row">	
				            			<label for="name" class="col-lg-3 col-xs-4 col-sm-4">Name</label>
				     					<input type="text" class="col-lg-8 col-lg-offset-1 form-control" id="name" placeholder="Name" name="name" data-parsley-maxlength="50" required="true" data-parsley-pattern="^[A-Za-z ]*$" data-parsley-pattern-message="Please enter valid name in alphabets only">
					     			</div>
			            		</div>
				        		<div class="form-group ">
				        			<div class="row">
				            			<label for="designation" class="col-lg-3 col-xs-4 col-sm-4">Designation</label>
				     					<input type="text" class=" col-lg-8 col-lg-offset-1 form-control"  id="designation" placeholder="Designation" name="designation" required="true" data-parsley-maxlength="50">
				        			</div>
				        		</div>
				        		<div class="form-group">
				        			<div class="row">
				            			<label for="email" class="col-lg-3 col-xs-4 col-sm-4">Email</label>
				     					<input type="email" class=" col-lg-8 col-lg-offset-1 form-control" id="email" placeholder="Email" data-parsley-maxlength="50" name="email" required="">
				        			</div>
				        		</div>
				        		<div class="form-group">
				        			<div class="row">
				            			<label for="telephone" class="col-lg-3 col-xs-4 col-sm-4">Telephone</label>
				     					<input type="text" class=" col-lg-8 col-lg-offset-1 form-control" id="telephone" placeholder="Telephone" name="telephone" data-parsley-maxlength="11" data-parsley-pattern="^[0-9]+$" required="">
				        			</div>
				        		</div>
				        		<div class="form-group">
				        			<div class="row">
				            			<label for="postal_code" class="col-lg-3 col-xs-4 col-sm-4">Post Code</label>
				     					<input type="text" class="col-lg-8 col-lg-offset-1 form-control" id="postal_code" placeholder="Postal Code" minlength='5' maxlength="8" name="postal_code" required="">
				        			</div>
				        		</div>	            	
				           	</div>
		      			</div>
		            	<div class="aquestion 10th">
		      				<div class="form-section">
			                  	<p><b>10. Anything we have missed?</b></p>
			                  	<div class="fileupload fileupload-new" data-provides="fileupload" >
									<span class="red-button btn-file">
										<span class="fileupload-new">Select file</span>
										<span class="fileupload-exists">Change</span>
										<input type="file" name="file_upload"/>
									</span>
									<span class="fileupload-preview"></span>
									<a href="#" class="close fileupload-exists" data-dismiss="fileupload">×</a>
								</div>
			            	</div>
		      			</div>
		       		</div>
			    </form> 
	      	</div>
		</div>
		<div class="row">
        	<div class="form-navigation col-md-offset-7 col-md-1 col-sm-1 col-xs-offset-7">
	            <div id="previous_a" class='previousa'type='button'>
	            	<h4>PREVIOUS</h4>
	            </div>  
            </div>
            <div class="form-navigation col-xs-offset-1 col-xs-2">
	            <div id="next_a" class='nexta' type='button'>
	            	<h4>NEXT</h4>
	            </div>
            </div>
        </div>
		<div class="row">
	        <div class="col-md-offset-6 col-md-2 col-xs-offset-6 col-xs-2">
	        	<div id="startagaina" class="margin_l_25px startagain" type="button">
	            	<h4>Start Again</h4>
	            </div>  
	       	</div>   
	       	<div id="" class="col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-2 col-xs-offset-1 col-xs-5"> 
	        	<div id="cancela" class="margin_l_25px cancel" type="button">
	            	<h4>Cancel</h4>
	            </div> 
	            <div id="add-talent-project" type="button" class="hidden submit" data-toggle="modal">
	            	<h4>Submit</h4>
	            </div>
	       	</div>
		</div>
	</div>
</div>
<div class="sections" id="section2b" hidden>
	<div class="container-fluid">
		<div class="row">
			<span class="block_a_error col-md-offset-1"></span>
	    	<div class="col-md-3 headings">
	    		<p>Please share some information regarding your requirement</p>
	    	</div>
	        <div id="sectionText1" class="col-md-offset-1 col-md-2 col-sm-4  col-xs-offset-1 col-xs-10">
		        <ol class="menu" >
					<li><a id="1b">Industry Sectors</a></li>
					<li><a id="2b">Location </a></li>
					<li><a id="3b">Description of what you are looking for?</a></li>
					<li><a id="4b">Quantity</a></li>
					<li><a id="5b">By When?</a></li>
					<li><a id="6b">Order cycle</a></li>
					<li><a id="7b">Specifications</a></li>
					<li><a id="8b">Contact Details</a></li>
					<li><a id="9b">Anything we have missed?</a></li>
		        </ol>   
		    </div>
		    <div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-6 col-xs-offset-2 col-xs-10">
	    		<form name="industry-sector-form" method='POST' id='industry-sector-form' action="{% url 'equipment-consumables-add' %}" enctype="multipart/form-data">
	    			{% csrf_token %}
			    	<div id="questionblock1">
		           		<div class="bquestion 1st">
			    			<div class="form-section1">
			                  	<p><b>1. Industry Sector</b></p>
			                  	<div class="btn-group specialism_label1">
			                  		<select class="w300" id="indus" name="industry_sector" multiple="multiple">
			                 			{% for i in industry_sector %}
				                  			<option value="{{i.id}}" ><p>{{i.name}}</p></option>
				                  		{% endfor %}
									</select>
			     		 		</div>      
			  				</div>
			    		</div>
		            	<div class="bquestion 2nd">
			    			<div class="form-section1">
			                	<label for="pin"><b>2. Enter Post Code </b><b class='astrix'>*</b></label>
			                	<input type="text" class="form-control" name="location" placeholder="Pin Code" minlength='5' maxlength="8" required="">
			            	</div>
			    		</div>
		            	<div class="bquestion 3rd">
			    			<div class="form-section1">
			                	<p><b>3. Description of what you are looking for?  </b><b class='astrix'>*</b></p>
			                	<textarea class="form-control" rows="3" name="description" placeholder="Enter Text Here.." required="" data-parsley-maxlength="250"></textarea>
			            	</div>
			    		</div>
		            	<div class="bquestion 4th">
			    			<div class="form-section1">
			                	<p><b>4. Quantity </b><b class='astrix'>*</b></p>
			                	<textarea class="form-control" rows="3" name="quantity" placeholder="Enter Text Here.." required="" data-parsley-maxlength="250"></textarea>
			            	</div>
			    		</div>
		            	<div class="bquestion 5th">
			    			<div class="form-section1">
			                  	<p><b>5. By When??  </b><b class='astrix'>*</b></p>
			                  	<ul class="list-unstyled">
			                  		<div class="radio">
					                  	<li>
					                  		<label>
					                	  		<input type="radio" name="byWhen" value="Immediately" data-parsley-multiple="byWhen" data-parsley-errors-container="#byWhenError"> Immediately
					                  		</label>
					                  	</li>
					                  	<li>
					                  		<label>
							                  	<input type="radio" name="byWhen" value="Within 1 month" data-parsley-multiple="byWhen" data-parsley-errors-container="#byWhenError">
							                	Within 1 month
					                  		</label>
					                  	</li>
					                  	<li>
					                  		<label>
						                  		<input type="radio" name="byWhen" value="Within 3 months" required="" data-parsley-multiple="byWhen" data-parsley-errors-container="#byWhenError">
						                  		Within 3 months
					                  		</label>
					                  	</li>
					                  	<span id="byWhenError"></span>
			                  		</div>
			                  	</ul>
			             	</div>
			    		</div>
		            	<div class="bquestion 6th">
			    			<div class="form-section1">
			                  	<p><b>6. Order Cycle</b></p>
			                  	<ul class="list-unstyled">
			                  		<div class="radio">
				                  		<li>
				                  			<label>
					                  			<input type="radio" name="order_cycle" value="One Off">
					                  			One Off
				                  			</label>
				                  		</li>
				                  		<li>
				                  			<label>
					                  			<input type="radio" name="order_cycle" value="Repitative">
					                  			Repetative
				                  			</label>
				                  		</li>
			                  		</div>
			                  	</ul>	
			            	</div>
			    		</div>
		            	<div class="bquestion 7th">
			    			<div class="form-section1">
			                  	<p><b>7. Specifications</b></p>
			                  	<textarea class="form-control" rows="3" name="specification" placeholder="Enter Text Here.." data-parsley-maxlength="250"></textarea>
			            	</div>
			    		</div>
		            	<div class="bquestion 8th col-lg-12">
			    			<div class="form-section1">
				                <p><b>8. Details  </b><b class='astrix'>*</b></p>
				                <div class="form-group">
				        			<div class="row">	
				            			<label for="name1" class="col-lg-3 col-xs-4 col-sm-4">Name</label>
				     					<input type="text" class="col-lg-8 col-xs-5 col-lg-offset-1 form-control" id="name1" name="name" placeholder="Name" data-parsley-pattern="^[A-Za-z ]*$" required="" type="text" required="" data-parsley-maxlength="50">
					     			</div>
			            		</div>
				        		<div class="form-group">
				        			<div class="row">
				            			<label for="designation1" class="col-lg-3 col-xs-4 col-sm-4">Designation</label>
				     					<input type="text" class=" col-lg-8 col-lg-offset-1 form-control"  id="designation1" name="designation" data-parsley-maxlength="50" placeholder="Designation" required="">
				        			</div>
				        		</div>
				        		<div class="form-group">
				        			<div class="row">
				            			<label for="email1" class="col-lg-3 col-xs-4 col-sm-4">Email</label>
				     					<input type="email" class=" col-lg-8 col-lg-offset-1 form-control" id="email1" name="email" data-parsley-maxlength="50" placeholder="Email" required="">
				        			</div>
				        		</div>
				        		<div class="form-group">
				        			<div class="row">
				            			<label for="telephone1" class="col-lg-3 col-xs-4 col-sm-4">Telephone</label>
				     					<input type="text" class=" col-lg-8 col-lg-offset-1 form-control" id="telephone1" name="telephone" data-parsley-pattern="^[0-9]+$" data-parsley-maxlength="11" placeholder="Telephone" required="">
				        			</div>
				        		</div>
				        		<div class="form-group">
				        			<div class="row">
				            			<label for="postalcode1" class="col-lg-3 col-xs-4 col-sm-4">Post Code</label>
				     					<input type="text" class="col-lg-8 col-lg-offset-1 form-control" id="postalcode1" name="postal_code" placeholder="Postal Code" required="" minlength='5' maxlength="8">
				        			</div>
				        		</div>	            		
				            </div>
			    		</div>
		            	<div class="bquestion 9th">
			    			<div class="form-section1">
			                  	<p><b>9. Anything we have missed??</b></p>
			            		<div class="form-group">
									<div class="fileupload fileupload-new" data-provides="fileupload" >
										<span class="red-button btn-file">
											<span class="fileupload-new">Select file</span>
											<span class="fileupload-exists">Change</span>
											<input type="file" name="file_upload"/>
										</span>
										<span class="fileupload-preview"></span>
										<a href="#" class="close fileupload-exists" data-dismiss="fileupload">×</a>
									</div>
								</div>
			           		</div> 
			    		</div>
			      	</div>    
		      	</form>
		    </div>
	        <div >
	        	<div class="form-navigation1 col-md-offset-7 col-md-1 col-sm-1 col-xs-offset-7">
		            <div id="previous_b" class='previousb'type='button'>
		            	<h4>PREVIOUS</h4>
		            </div>  
	            </div>
	            <div class=" form-navigation1 col-xs-2 col-xs-offset-1 hidden-xs">
		            <div id="next_b" class='nextb' type='button'>
		            	<h4>NEXT</h4>
		            </div>
	            </div> 
	        </div>
	        <div class="">
				<div class=" col-md-offset-6 col-md-2 col-xs-offset-6 col-xs-2">
	            	<div id="startagainb" class="margin_l_25px startagain" type="button">
		            	<h4>Start Again</h4>
		            </div>  
	           	</div>   
	           	<div class="col-md-offset-1  col-md-2 col-sm-offset-1 col-sm-2 col-xs-offset-2 col-xs-3"> 
	            	<div id="cancelb" class="margin_l_25px cancel" type="button">
		            	<h4>Cancel</h4>
		            </div>
	                <div id="add-industry-sector" type="button" class="hidden submit" data-toggle="modal" >
	                	<h4>Submit</h4>
	                </div>
	           	</div>
	        </div>
	    </div>
	</div>
</div>
<div class="section3 sections" id="section3">
	<div class="container-fluid">
		<h2><center>Pricing</center></h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th></th>
					<th><h5><b>Sourcing Quotes</b></h5></th>
					<th><h5><b>Generate Business Leads</b></h5></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><b>Sending us your requirements</b></td>
					<td><b>FREE</b></td>
					<td><b>FREE</b></td>
				</tr>
				<tr>
					<td><b>Quotations Fees</b></td>
					<td><li class="list-unstyled">£100 Per Quote Summary</li>
						<li class="list-unstyled"></li>
						<li class="list-unstyled"> (we help you source, compare and summarise up to three quotes)</li>
					</td>
					<td><li class="list-unstyled">£150 per annum for <b>Individuals</b></li>
						<li  class="list-unstyled">£300 per annum for <b>Enterprises</b></li>
						<li class="list-unstyled">(we help you generate opportunities to quote for winning business)</li>
					</td>
				</tr>
				<tr>
					<td><b>Completion Fee</b></td>
					<td><b>NONE</b></td>
					<td>2% of total value per successful quote and  1% of total value per repeat transaction</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="section4 sections" id="section4">
	<div class="container-fluid">
		<center><h2>FAQ</h2></center>
		<ol class="base-padding">
			<li>
				<p><b>What is the purpose of setting up MyQuoteFactory.com?</b></p>
				<p>Our aim is to encourage manufacturing and hence we would like to help industries connect with each other to develop, source and procure best possible products and services at the most reasonable cost.</p>
				<p> E.g: Engineering Spares, Machineries, IT hardware and software, Energy,Manufacturing components or Raw materials, Technological know how and expertise, Engineering Talent, Environmental-Health-Safety and Legal compliance to name a few</p>
			</li>
			<li>
				<p><b>What services do you offer?</b></p>
				<p>We are completely independent engineering procurement and sourcing solution provider which guarantees our client's interests at all times. We make every effort to ensure we deliver what we say.</p>
				<p>Services we provide are:</p>
				<ol type="a">
					<li>Manufacturer and Supplier search
						<p>At MyQuoteFactory.com, we aim to provide more than a directory search service.We listen to your requirements and provide an appropriate cost effective solution.</p>
					</li>
					<li>Cost effective procurement
						<p>We are more than happy to find the right cost effective product development and sourcing solutions for our clients on an ad hoc or regular basis.</p>
					</li>
					<li>Recommendation services
						<p>As experienced engineering professionals, we offer product identification, selection and recommendation service which satisfies your needs.</p>
					</li>
					<li>Product Development and Marketing services
						<p>We work with your procurement teams on specifying the Product, develop a pre-production sample, get it manufactured and delivered for use or further sales.</p>
					</li>
				</ol>
				<p>For details, please give us a call and we will be more than happy to talk.</p>
			</li>
			<li>
				<p><b>When and how to pay for the services provided?</b></p>
	 		 	<p>We do not charge anything for posting your requirements.Once we receive your requirements we aim to get in touch within 72 hours to understand the details.When we are sure that we have sourced the correct cost effective solution for your requirements, we will get in touch with appropriate solutions at which point there will be an admin fees payable for the sum of £100.</p>
	 		 	<p>If you are happy with the quote and select a supplier, we will then help you to progress and ensure that your requirements are fulfilled. When you place an order with the supplier, there will be a sourcing completion fee of 2% of the total order value (ex VAT) for the first time and then 1% on all subsequent repeat orders.When you place your repeat order next time, we will ensure that the selected supplier and solution are still the best available in the market.</p>
 		 	</li>
		</ol>
	</div>
</div>
<div class="section5" id="section5">
	<div class="container-fluid">
		<div class="col-md-7">
			<h3 class="text-center">About Us</h3>
			<p class="text-justify">
				We are a team of Engineers and Finance professionals who have hands on experience of Product and Business Development across varied geographies.Our aim is to provide a platform whereby business  can develop, source and procure essential, regular and bespoke engineering products and services at best possible prices.One would ideally like to automate the whole sourcing process so that the platform can become a price comparison website, but it is a bit more complicated when you are procuring products ranging from chemical raw materials to a manufacturing plant. That’s where we come in our as aim is to encourage manufacturing and businesses by
				<ul>
				  	<li>Making the product development and sourcing process easier</li>
				  	<li>Driving down cost of production</li>
			  	</ul> 
			</p>
			<p>We always aim to look at total cost of procurement and drive it down by searching all potential suppliers across the market.</p>
		</div>
		<div class="col-md-5">
			<div class="col-md-offset-1 col-md-11">
				<h3>Contact Us</h3>
				<a href="">quote@myquotefactory.com</a>
				<h5>0044 7527 098 616</h5>
				<h5>Vision Nuovo Ltd. trading as</h5>	
				<h5><a href="">www.MyQuoteFactory.com</a></h5>	
				<h5>3 Far view bank, Huddersfield, HD5 8AY, West Yorkshire</h5>
				<h5> United Kingdom</h5>
				<h5>Registered in England & Wales: 09915427</h5>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				
	          	<button type="button" class="close" data-dismiss="modal">&times;</button>
	          	<center><h3 class="modal-title"><b>Terms of Business</b></h3></center>
	        </div>
			<div class="modal-body" id="abc">
				<ol>
	  				<p>Thank you for using MyQuoteFactory.com (Vision Nuovo Ltd. is trading as MyQuoteFactory.com)This page states the terms under which you may use MyQuoteFactory.com. By accessing MyQuoteFactory.com you accept and agree to be bound by these Terms.</p>
	  				<li><h5><b>Cookies:</b></h5>
	  					<p>
	  						A cookie is a small text file which is copied onto your hard disk by a website. Cookies do not cause any damage to your computer and do not contain any viruses. The cookies from our websites do not gather any personal data about you. You can disable the use of cookies at any time via the settings in your browser. As a rule, cookies are only used on our Web site for the length of your session for the purpose of anonymous, statistical assessments and for improving user-friendliness. Cookies may occasionally serve an additional purpose in certain sections of the website. You will be informed of this if you access one of these sections.
	  					</p>
	  	 			</li>
	    			<li><b>Data protection:</b>
	    				<p>
	    				If you give us personal information, that information will be stored and used in accordance with UK law.
	    				</p>
	    			</li>
	     			<li><h5><b>Intellectual property:</b></h5>
	     				<p>
	    				The content of MyQuoteFactory.com, including but not limited to text, graphics, logos, software and trademarks are the property of Vision Nuovo Ltd. and are protected by copyright and other laws.MyQuoteFactory.com does not tolerate copyright infringement and will actively pursue any known infringement to full extent of law.
	    				</p>
	    			</li>
	      			<li><h5><b>Licences:</b><h5>
	      				<p>
	    				Vision Nuovo Ltd. has sought to achieve an innovative website. However, you also need to understand that MyQuoteFactory.com must protect its intellectual property, including its patents, trademarks, and copyrights. Accordingly, please appreciate that no license to use the intellectual property of Vision Nuovo Ltd. or the intellectual property of third parties has been granted by this website.
	    				</p>
	    			</li>
	    			<li><h5><b>Restrictions on use:</b></h5>
	    				<p>
	  					The use of MyQuoteFactory.com data as a source or target for direct marketing, telemarketing, market research, or any other marketing activity on yours, or someone else's behalf, is strictly prohibited.
	  					</p>
	  				</li>
	    			<li><h5><b>MyQuoteFactory.com Warranties</b></h5>
	    				<p>
	    					MyQuoteFactory.com does not guarantee the timeliness, completeness or performance of the MyQuoteFactory.com or any of the content. While we try to ensure that all content featured on the MyQuoteFactory.com is correct at the time of publication, no responsibility is accepted by Vision Nuovo Ltd. for any errors, omissions or inaccurate content on the MyQuoteFactory.com.
	    				</p>
	    				<p>
	    					We will not be liable for any loss or damage, financial or otherwise as a result of you using the information provided on the MyQuoteFactory.com, nor does Vision Nuovo Ltd. guarantee the suitability or quality of any products or services featured on the MyQuoteFactory.com.
	    				</p>
	    				<p>
	    					Vision Nuovo Ltd. does not warrant that access to the MyQuoteFactory.com or the features on the MyQuoteFactory.com will be uninterrupted or error free. Further, Vision Nuovo Ltd. does not warrant that the server on which the MyQuoteFactory.com is based is free of Viruses or other harmful code.
	    				</p>
	    			</li>
	     			<li><h5><b>Contributions to the site</b></h5>
	     				<p>
	  						Contributions made to the MyQuoteFactory.com are encouraged, providing they are made in a responsible manner and are in no way inaccurate, defamatory or misleading.
	  					</p>
	  					<p>
	  						Vision Nuovo Ltd. reserves the right, without any obligation whatsoever, to review, correct, remove or modify any content submitted to the MyQuoteFactory.com.
	  					</p>
	  					<p>
	 						By submitting a rating or review to the MyQuoteFactory.com you are accepting that your name and email address will become available to the company you review, and your name will be displayed on the MyQuoteFactory.com.
	 					</p>
	 				</li>
	   				<li><h5><b>Advertising your business on MyQuoteFactory.com</b></h5>
	   					<p>
	   						The Information you provide in relation to your business must be accurate and truthful.
	   					</p>
	  					<p>
	  						No responsibility is accepted by Vision Nuovo Ltd. for any errors, omissions or inaccurate content on the MyQuoteFactory.com.
	  					</p>
	  				</li>
	  				<li><h5><b>Customer Reviews</b></h5>
	  					<p>
	  						By default, when you sign up to MyQuoteFactory.com as a business you accept that your company can be reviewed by your customers and other users of the site. We reserve the right to remove any reviews that we believe haven't been posted by the customers themselves or where we believe the reviews may not be genuine.
	  					</p>
	  				</li>
	  				<li><h5><b>User Accounts</b></h5>
	  					<p>
	 						As stated in our Privacy policy, we reserve the right to send you certain communications relating to your account, such as service announcements and administrative messages without offering you the opportunity to opt-out of receiving them.
	 					</p>
	   					<p>
	   						You may not use, or allow others to use, your account to:
	   					</p>
	   					<ul type="disc">
	  						<li>
	  							Post any content that is abusive or defamatory or which discloses private or personal matters concerning any person.
	  						</li>
	  						<li>
	  							Impersonate any person or entity, or falsely state or otherwise misrepresent your affiliation with anyone or entity.
	  						</li>
	  					</ul>
	  				</li>
	  				<li><h5><b>MyQuoteFactory.com Billing</b></h5>
	  					<p>
	  						Paid Members will be automatically re-billed for their subscription each month/year as chosen and will receive an email receipt each time they are billed.
	  					</p>
	  					<p>
	 						Paid Members can cancel their subscription at any time by cancelling their Direct Debit (if applicable) via their bank or 
	  						by contacting us.
	  					</p> 
	  					<p>
	  						Completion Fees are liable to be invoiced once the customer agrees to pursue with one of our suppliers and get paid by 15 calendar days from the date of invoice.
	  					</p>
	 					<p>
	 						As we charge subscription on monthly/yearly/project completion basis, we have a 'no refund' policy.    If paid membership is cancelled, it will stay active until the end of the period which has been paid for.
	 					</p>
	 					<p>
	  						Completion Fees once received will not be refunded under any circumstances.
	  					</p>
	  					<p>
							VAT invoices for each payment are available to view or print upon request.
						</p>
						<p>
	  						In exceptional circumstances, we reserve the right to close a paid member's account without any claim to a refund if we find that they are in breach of the terms and conditions of the site. Paid members are bound by the terms and conditions of the site (as stated on this page) in the same way as any other site user.
	  					</p>
	  				</li>
	  				<li><h5><b>Sponsored Advertising</b></h5>
	  					<ol type="i">
	  						<li><b> General</b>
	  							<ol type="a">
  									<li>
  										Factual claims or offers made must be credible, current, and accurate. Misleading or inaccurate adverts will be rejected.
  									</li>
  									<li>
  										The weblink included in your advert must be relevant to the text of the advert.
  									</li>
  									<li>
  										Adverts must not promote any products or services 	which are illegal in the UK.
  									</li>
  									<li>
  										Adverts must not contain links to harmful MyQuoteFactory.com, malware, spyware or anything similar.
  									</li>
	  							</ol>
	  						</li>
	  						<li><b>Image Guidelines</b>
  								<ol type="a">
  									<li>
  										Any images which you upload with your advert must be your own property or you must have permission from the owner of the image to use it for advertising purposes.
  									</li>
  									<li>
  										Copyrighted or trademarked images or text are not permitted unless you or your company owns the relevant copyright or trademark.
  									</li>
									<li>
										Images must be suitable for all ages to view.
									</li>
									<li>
										Images must be relevant to the text content of the advert.
									</li>
									<li>
										Images must not be displayed sideways or upside down.
									</li>
 									<li>
 										Images must be of reasonably good quality - blurred, unclear or unrecognizable images will not be accepted.
 									</li>
									<li>
										Images must not consist solely of text.
									</li>
								</ol>
							</li>
							<li><b>Text Guidelines</b>
								<ol type="a">
									<li>
										The text of your advert must be written in English and obey the basic rules of spelling, grammar and punctuation. Our content team will correct obvious spelling or grammatical errors and will remove excess or inappropriate punctuation (e.g. !!!!!!!).
									</li>
									<li>
										Adverts must not be written in BLOCK CAPITALS. Our content team will edit adverts to remove any inappropriate use of upper case text.
									</li>
									<li>
										Please use only the allocated sections for including your weblink and/or telephone number. Please do not include weblinks, telephone numbers, or email addresses in the body text or headline of your advert.
									</li>
								</ol>
							</li>
							<li><b>Ad Credits</b>
								<ol type="a">
									<li> 
										Refunds for credit pack purchases can be requested within 14 days of the purchase date, provided you have not used any credits from the credit pack.
									</li>
									<li> 
										There are systems in place to counter 'false' impressions. We do everything we can to prevent such activity. If you believe someone is attempting to fake impressions of your Ads, please get in touch.
									</li>
								</ol>
							</li>
						</ol>
					</li>
					<li><h5><b>General</b><h5>
						<p>
							If you see any content on the site that is incorrect, is illegal or breaches anyone else's rights, please contact us.
						</p>
						<p>
 							Vision Nuovo Ltd. may change, alter or modify these Terms at any time. Any changes to these Terms will be posted on the MyQuoteFactory.com. If you do not agree to Terms on this page, you should cease use of the MyQuoteFactory.com.
 						</p>
 						<p>
 							<b> Registered Office Address</b>
 						</p>
  						<p>Vision Nuovo Ltd.</p>
						<p>3 Far view bank, Huddersfield </p>
						<p>HD5 8AY, West Yorkshire</p>
						<p>United Kingdom</p>	
  						<p>contact@visionnuovo.com</p>
  						<p>www.VisionNuovo.com</p>
  						<p>Register in England & Wales</p>
 			 			<p>Company number: 09915427</p>
 			 		</li>
 			 	</ol>
 			 	<div class="checkbox">
 			 		<label class="one">
 			 			<input type="checkbox" value="" id="check">I Agree
 			 		</label>
				</div>
			</div>
			<div class="modal-footer">
	           	<button type="button" class="btn btn-default"  id="submit_btn" disabled="disabled">Submit</button>
	          	<button type="button" class="btn btn-default" id="close_modal" data-dismiss="modal">Close</button>
	        </div>
		</div>
	</div>
</div>
<!--2nd modal -->
<div class="modal fade payment-modal" id="myModal1" role="dialog" data-keyboard="false" data-backdrop="static">
 	<div class="modal-dialog">
	 	<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
	          	<button type="button" class="close" data-dismiss="modal">&times;</button>
	          	<center><h3 class="modal-title"><b>Card Details</b></h3></center>
	          	<div class="sucessmsg"></div>
	        </div>
	        <form action="" method="POST" id="payment-form">
	        	{% csrf_token %}
				<div class="modal-body">
	 				<div class="form-group">
	        			<div class="row">
	        				<div class="col-lg-4 col-xs-3">
	            				<label for="holdernumber">Enter Amount</label>
	        				</div>
	        				<div class="col-md-4 col-xs-4">
	        					<select class='form-control' name="currency" id="amount_in" required="">
	        						<option value="">Select</option>
	        						<option value="Pound">£</option>
	        						<option value="Dollar">$</option>
	        					</select>
	        				</div>
	        				<div class="col-lg-4 col-xs-5 mlefts">
	     						<input type="text" name="amount" class="form-control" id="payment" placeholder=" Amount" data-parsley-pattern='^(?:[1-9]\d*|0)?(?:\.\d+)?$' required="" data-parsley-trigger="focusin focusout">
	        				</div>
	        			</div>
	 				</div>
	 				<div class="form-group">
	        			<div class="row">
	        				<div class="col-lg-4 col-xs-3">
	            				<label for="name">Card Holder Name</label>
	        				</div>
	        				<div class="col-lg-8 col-xs-9">
	     						<input type="text" name="stripe_card" class="form-control" id="card_name" placeholder="Name" required="" data-parsley-pattern="^[A-Za-z ]*$" data-parsley-pattern-message="Enter name in Alphabets only" data-parsley-trigger="focusin focusout">
	        				</div>
	        			</div>
	 				</div>
	 				<div class="form-group">
	        			<div class="row">
	        				<div class="col-lg-4 col-xs-3">
	            				<label for="holdernumber">Card Holder Number</label>
	        				</div>
	        				<div class="col-lg-8 col-xs-9">
	     						<input type="text" name="card_number" size="20" class="form-control" id="holder_number" placeholder="Number" required="" data-stripe="number" data-parsley-pattern="^[0-9]*$" data-parsley-trigger="focusin focusout">
	        				</div>
	        			</div>
	 				</div>
					<div class="form-group">
						<div class="row">
							<div class="col-lg-4 col-xs-3">
								<label>Expiry Date(MM/YY)</label>
							</div>
							<div class="col-lg-3 col-xs-3">
						      	<input type="text" size="2" id="exp_month" data-stripe="exp_month" placeholder="MM" maxlength="2" data-parsley-pattern="^[0-9]*$" required="" data-parsley-range="[1, 12]" data-parsley-trigger="focusin focusout" class="form-control">
							</div>
							<div class="col-lg-3 col-xs-4 mleft">
							    <input type="text" size="2" id="exp_year" data-stripe="exp_year" placeholder="YY" maxlength="2" data-parsley-pattern="^[0-9]*$" required="" data-parsley-range="[16, 99]" data-parsley-trigger="focusin focusout" class="form-control">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-lg-4 col-xs-3">
								<label>CVC No</label>
							</div>
							<div class="col-lg-8 col-xs-9">	
								<input name="cvc" class="form-control" id="cvc" placeholder="CVV" minlength="3" maxlength="4" required="" type="password" data-stripe="cvc" data-parsley-pattern="^[0-9]*$" data-parsley-trigger="focusin focusout">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-lg-4 col-xs-3">
								<label>Email</label>
							</div>
							<div class="col-lg-8 col-xs-9">	
								<input type="email" name="email" class="form-control" id="payment_email" placeholder="E-mail" maxlength="60" required="" type="email" data-parsley-trigger="focusin focusout">
							</div>
						</div>
					</div>
				</div>
	        </form>
	        <div class="modal-footer">
	        	<div class="col-lg-offset-6 col-lg-2 spinner1 hidden"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></div>
	           	<button type="button" class="btn btn-default" id="pay_now">Pay Now</button>
	          	<button type="button" class="btn btn-default" data-dismiss="modal" id="close_modal1">Cancel</button>
	        </div>
		</div>
	</div>
</div>
{% endblock main-content %}
{% block extra-js %}
<script src="/static/js/parsley.min.js"></script>
<script type="text/javascript" src="/static/js/file-upload.js"></script>
<script type="text/javascript" src="/static/js/multiple-select.js"></script>
<script src="/static/js/jquery.blockUI.js"></script>
<script src="/static/js/file-upload.js"></script>
{% endblock extra-js %}